### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [20]:
print('Total Players:',len(purchase_data['SN'].unique()))

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
UniqueItems=len(purchase_data['Item ID'].unique())
AveragePrice=purchase_data['Price'].mean()
NumberOfPurchases=purchase_data['Item ID'].count()
TotalRevenue=purchase_data['Price'].sum()

SummaryDict={
    'Number of Unique Items':[UniqueItems],
    'Average Price':[AveragePrice],
    'Number of Purchases':[NumberOfPurchases],
    'Total Revenue':[TotalRevenue]
}

SummaryDf=pd.DataFrame(SummaryDict)
SummaryDf

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
UniqueDf=purchase_data.drop_duplicates(subset='SN')

GenderDf=pd.DataFrame(UniqueDf['Gender'].value_counts())

GenderDf['Percentage of Players']=GenderDf['Gender']/576.0

GenderDf

                       Gender  Percentage of Players
Male                      484               0.840278
Female                     81               0.140625
Other / Non-Disclosed      11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
GenderGroups=purchase_data.groupby(['Gender'])
GenderSummary=pd.DataFrame(GenderGroups['SN'].count())
GenderSummary.rename(columns={'SN':'Purchase Count'},inplace=True)
GenderSummary['Average Purchase Price']=GenderGroups['Price'].mean()
GenderSummary['Total Purchase Value']=GenderGroups['Price'].sum()
GenderSummary['Avg Total Purchase per Person']=GenderSummary['Total Purchase Value']/GenderDf['Gender']

GenderSummary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [80]:
bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]
binNames=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
AgeBins=pd.cut(UniqueDf['Age'],bins,labels=binNames,include_lowest=True)
counts=pd.DataFrame(AgeBins)['Age'].value_counts()
countsDf=pd.DataFrame(counts)
countsDf=countsDf.reindex(binNames)
countsDf['Percentage of Players']=100*countsDf['Age']/576.0
countsDf.style.format({'Percentage of Players':'{:,.2%}'.format})
countsDf

       Age  Percentage of Players
<10     17               2.951389
10-14   22               3.819444
15-19  107              18.576389
20-24  258              44.791667
25-29   77              13.368056
30-34   52               9.027778
35-39   31               5.381944
40+     12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
PurchaseBins=pd.DataFrame(pd.cut(purchase_data['Age'],bins,labels=binNames,include_lowest=True))
PurchaseDf=purchase_data
PurchaseDf['Age Range']=PurchaseBins['Age']
PurchaseDf


AgeGroups=PurchaseDf.groupby(['Age Range'])

PurchaseSummary=pd.DataFrame(AgeGroups['Price'].count())
PurchaseSummary.rename(columns={'Price':'Purchase Count'}, inplace=True)
PurchaseSummary['Average Purchase Price']=AgeGroups['Price'].mean()
PurchaseSummary['Total Purchase Value']=AgeGroups['Price'].sum()
PurchaseSummary['Avg Total Purchase per person']=PurchaseSummary['Total Purchase Value']/countsDf['Age']

PurchaseSummary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
SpenderSummary=pd.DataFrame()
PlayerGroups=purchase_data.groupby(['SN'])

SpenderSummary['Purchase Count']=PlayerGroups.count()['Purchase ID']
SpenderSummary['Average Purchase Price']=PlayerGroups.mean()['Price']
SpenderSummary['Total Purchase Value']=PlayerGroups.sum()['Price']
SpenderSummary.sort_values(by='Total Purchase Value',inplace=True,ascending=False)
SpenderSummary.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
ItemGroups=purchase_data.groupby('Item ID')
ItemDf=pd.DataFrame(ItemGroups['Item Name'].first())
ItemDf['Purchase Count']=ItemGroups['Item Name'].count()
ItemDf['Item Price']=ItemGroups['Price'].first()
ItemDf['Total Purchase Value']=ItemGroups['Price'].sum()
ItemDf.sort_values(by='Purchase Count',ascending=False,inplace=True)



ItemDf.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [134]:
ItemDf.sort_values(by='Total Purchase Value',ascending=False,inplace=True)
ItemDf.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80